@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100% / 0;
    --foreground: 186 100% 5%;
    --card: 0 0% 100% / 0.9;
    --card-foreground: 186 100% 5%;
    --popover: 0 0% 100% / 0.95;
    --popover-foreground: 186 100% 5%;
    --primary: 186 100% 26%;
    --primary-foreground: 210 100% 98%;
    --secondary: 186 76% 95% / 0.8;
    --secondary-foreground: 186 100% 26%;
    --muted: 210 20% 90% / 0.8;
    --muted-foreground: 186 20% 40%;
    --accent: 186 76% 53%;
    --accent-foreground: 210 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 186 20% 90%;
    --input: 186 20% 90%;
    --ring: 186 100% 26%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html, body {
    @apply h-full w-full m-0 p-0;
    background-color: transparent !important;
  }
  body {
    @apply text-foreground font-body antialiased;
    background-image: url("/Background.jpeg");
  }
}

@layer utilities {
  .font-headline {
    @apply font-bold tracking-tight;
  }
}