@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100% / 0;
    --foreground: 275 100% 5%;
    --card: 0 0% 100% / 0.95;
    --card-foreground: 275 100% 5%;
    --popover: 0 0% 100% / 0.95;
    --popover-foreground: 275 100% 5%;
    --primary: 275 100% 25%;
    --primary-foreground: 210 100% 98%;
    --secondary: 271 76% 95% / 0.8;
    --secondary-foreground: 275 100% 25%;
    --muted: 210 20% 90% / 0.8;
    --muted-foreground: 275 20% 40%;
    --accent: 271 76% 53%;
    --accent-foreground: 210 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 20% 90%;
    --input: 275 20% 90%;
    --ring: 275 100% 25%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground font-body bg-transparent;
    background-color: transparent !important;
  }
  html {
    background-color: black; /* Background color behind the image if it fails to load */
  }
}
